/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * ff-dagny-web-pro:
 *   - http://typekit.com/eulas/000000000000000077359998
 *   - http://typekit.com/eulas/0000000000000000773599ae
 *   - http://typekit.com/eulas/0000000000000000773599cf
 *   - http://typekit.com/eulas/0000000000000000773599db
 * ff-meta-serif-web-pro:
 *   - http://typekit.com/eulas/000000000000000077359996
 *   - http://typekit.com/eulas/0000000000000000773599b5
 *   - http://typekit.com/eulas/0000000000000000773599aa
 *   - http://typekit.com/eulas/0000000000000000773599a9
 *
 * © 2009-2025 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-02-10 15:05:16 UTC"}*/

@import url("../p.typekit.net/p94ca.css?s=1&amp;k=lty1dar&amp;ht=tk&amp;f=4664.4667.5199.5200.5022.5035.5178.5310&amp;a=1740476&amp;app=typekit&amp;e=css");

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/58b7cb/000000000000000077359998/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff2"),url("https://use.typekit.net/af/58b7cb/000000000000000077359998/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("woff"),url("https://use.typekit.net/af/58b7cb/000000000000000077359998/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i7&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/f23789/0000000000000000773599ae/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff2"),url("https://use.typekit.net/af/f23789/0000000000000000773599ae/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("woff"),url("https://use.typekit.net/af/f23789/0000000000000000773599ae/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=i4&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/34a3a2/0000000000000000773599cf/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff2"),url("https://use.typekit.net/af/34a3a2/0000000000000000773599cf/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("woff"),url("https://use.typekit.net/af/34a3a2/0000000000000000773599cf/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ff-dagny-web-pro";
src:url("https://use.typekit.net/af/663aac/0000000000000000773599db/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff2"),url("https://use.typekit.net/af/663aac/0000000000000000773599db/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("woff"),url("https://use.typekit.net/af/663aac/0000000000000000773599db/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&amp;fvd=n4&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:400;font-stretch:normal;
}

@font-face {
font-family:"ff-meta-serif-web-pro";
src:url("https://use.typekit.net/af/ccb3f3/000000000000000077359996/30/l?subset_id=2&amp;fvd=i5&amp;v=3") format("woff2"),url("https://use.typekit.net/af/ccb3f3/000000000000000077359996/30/d?subset_id=2&amp;fvd=i5&amp;v=3") format("woff"),url("https://use.typekit.net/af/ccb3f3/000000000000000077359996/30/a?subset_id=2&amp;fvd=i5&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;font-stretch:normal;
}

@font-face {
font-family:"ff-meta-serif-web-pro";
src:url("https://use.typekit.net/af/a4e2c3/0000000000000000773599b5/30/l?subset_id=2&amp;fvd=i7&amp;v=3") format("woff2"),url("https://use.typekit.net/af/a4e2c3/0000000000000000773599b5/30/d?subset_id=2&amp;fvd=i7&amp;v=3") format("woff"),url("https://use.typekit.net/af/a4e2c3/0000000000000000773599b5/30/a?subset_id=2&amp;fvd=i7&amp;v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ff-meta-serif-web-pro";
src:url("https://use.typekit.net/af/7ed1f6/0000000000000000773599aa/30/l?subset_id=2&amp;fvd=n7&amp;v=3") format("woff2"),url("https://use.typekit.net/af/7ed1f6/0000000000000000773599aa/30/d?subset_id=2&amp;fvd=n7&amp;v=3") format("woff"),url("https://use.typekit.net/af/7ed1f6/0000000000000000773599aa/30/a?subset_id=2&amp;fvd=n7&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;font-stretch:normal;
}

@font-face {
font-family:"ff-meta-serif-web-pro";
src:url("https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/l?subset_id=2&amp;fvd=n5&amp;v=3") format("woff2"),url("https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/d?subset_id=2&amp;fvd=n5&amp;v=3") format("woff"),url("https://use.typekit.net/af/3058a4/0000000000000000773599a9/30/a?subset_id=2&amp;fvd=n5&amp;v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;font-stretch:normal;
}

.tkff-dagny-web-pro { font-family: "ff-dagny-web-pro",sans-serif; }
.tk-ff-meta-serif-web-pro { font-family: "ff-meta-serif-web-pro",serif; }
